@keyframes fadeOut{
  0%{
    transform: translateY(0%);
    opacity: 1;

    transition: 0s;
  }
  70%{
    transform: translateY(0%);
    opacity: 1;

    transition: 0s;
  }
  100%{
    transform: translateY(100%);
    opacity: .8;
    transition: .9s;
  }
}

@keyframes onOff {
  0% {
    opacity: 0;
  }
  40%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@keyframes up{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes down{
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide{
  0%{
    transform: translateX(-100px);
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes radius {
  0%{
    border-radius: 20%;
  }
  100%{
    border-radius: 50%;
    opacity: 1;
  }
}