/*
メインコンテンツ
*/
.contentsArea{
  grid-area: main;
  width: 100%;
  height: auto;
  &__contents{
    width: 100%;
    background-color: #fff;

    &__tabNav{
      position: fixed;
      z-index: 30;
      width: 100%;
      max-width: 350px;
      display: flex;
      &_tab{
        position: relative;
        width: calc(100% / 3);
        a{
          background-color: $mainColor;
          width: 100%;
          display: inline-block;
          text-align: center;
          padding: 10px 0;
          color: #fff;
          font-size: 1.2rem;
          &:before,
          &:after{
            position: absolute;
            content: '';
            width: 0;
            height: 2px;
            background-color: #dddddd;
            transition: .3S;
          }
          &:before{
            top: 0;
            left: 0;
          }
          &:after{
            bottom: 0;
            left: 0;
          }
          .line:before,
          .line:after{
            transition: .3S;
            position: absolute;
            content: '';
            width: 1px;
            height: 0;
            background-color: #f1f1f1;
          }
          .line:before{
            top: 0;
            left: 0;
          }
          .line:after{
            top: 0;
            right: 0;
          }
        }
        &:hover a:before,
        &:hover a:after{
          transition: .3S;
          width: 100%;
        }
        &:hover .line:before,
        &:hover .line:after{
          transition: .3S;
          height: 100%;
        }
      }
      &_tab{
        a.show{
          color: $mainColor;
          background-color: #fff;
        }
      }
    }

    &__mainContents{
      width: 100%;
      // min-width: 600px;
      background-color: #fff;
      padding: 100px 40px;
      .contentsHeading{
        position: relative;
        margin-left: 40px;
        font-family: $spFont;
        font-size: 2.1rem;
        &::before{
          position: absolute;
          top: 0;
          left: -25px;
          content: '';
          width: 10px;
          height: 100%;
          background-color: $mainColor;
        }
      }
      .contentsSubheading{
        display: inline-block;
        font-size: 1.5rem;
        margin-left: 40px;
        margin-bottom: 40px;
      }

// サービスページ
      .skill{
        width: 100%;
        margin-bottom: 100px;

        &__inner{
          width: 100%;
          display: flex;

          &__box{
            width: calc( 100% / 3);
            text-align: center;
            i{
              font-size: 70px;
              margin-bottom: 30px;
            }

            &__text{
              display: inline-block;
            }
          }
        }
      }
      .menu{
        width: 100%;
        height: auto;

        &__list{
          margin: 30px auto;
          background-color: #2e2d2d05;
          width: 100%;
          padding: 30px;

          &__title{
            h2{
              font-size: 2.0rem;
              font-weight: 600;
              border-bottom: #2e2d2d solid;
              // text-align: center;
            }
          }
        }

        &__item{
          width: 90%;
          margin-top: 29px;

          &__title{
            display: flex;
            justify-content: space-between;
            padding: 0 0 10px 10px;
          }
        }
      }
// 制作物ページ
      .worksContainer{
        width: 100%;

        &__wrapper{
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          min-height: 100vh;

          &__contents{
            display: inline-block;
            width: calc( 100% / 3 );
            height: 300px;

            &_img{
              position: relative;
              width: 100%;
              height: 40%;
              overflow: hidden;
              &::before{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 0%;
                content: '詳細';
                text-align: center;
                line-height: 120px;
                font-family: $gothic;
                color: #fff;
                background-color: #0000004b;
                transition: 0.3s;
                opacity: 0;
              }
              img{
                object-fit: contain;
                width: 100%;
              }
            }

            &_text{
              padding: 10px;
              .title{
                text-align: center;
                font-size: 1.5rem;
                font-family: $spFont;
                margin-bottom: 15px;
              }
              .subTitle{
                font-size: 1.3rem;
                color: #a3a3a3;
              }
            }
            &:hover{
              box-shadow: #adadad 0px 0px 10px;
              .worksContainer__wrapper__contents_img{
                &::before{
                  opacity: 1;
                  height: 100%;
                  transition: 0.2s;
                }
              }
            }
          }
        }
      }
// 私についてページ
      .profileContainer,
      .careerContainer,
      .hobbyContainer{
        width: 100%;
        height: 70vh;
        margin-bottom: 50px;
      }
      .profileContainer{
        &__table{
          width: 80%;
          margin: auto;
          // background-color: #a3a3a3;
          tr{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 50px;
          }
          th{
            text-align: left;
            width: 20%;
            font-size: 1.5rem;
          }
          td{
            width: 50%;
            text-align: center;
            font-size: 1.5rem;
          }
        }
      }
      .careerContainer{
        width: 100%;
        margin-bottom: 200px;
        display: flex;
        flex-direction: column;
        justify-content: left;
        &__item{
          position: relative;
          display: inline-block;
          margin-bottom: 50px;
          padding-left: 100px;
          font-size: 1.5rem;
          &::before{
            position: absolute;
            top: 50%;
            left: 69px;
            background-color: $mainColor;
            content: '';
            width: 3px;
            height: 3px;
            border-radius: 50％;
          }
          &:last-child{
            position: relative;
            font-weight: 600;
          }
        }
      }
      .hobbyContainer{
        li{
          margin-bottom: 50px;
          font-size: 1.5rem;
          text-align: center;
          &:first-child{
            font-size: 2.0rem;
            font-weight: 600;
          }
          // iframe{
          //   max-width: 50%;
          // }
        }
      }
    }
  }
}