/*
トップページ
*/


#top{
  position: relative;
  width: 100%;
  height: 100vh;
  .topHeader{
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px 30px;
    background-color: rgba(255, 255, 255, 0.918);
    animation:  radius 2.6s forwards ease-in;
    animation-delay: 2s;
    span{
      color: $mainColor;
      line-height: 10px;
      font-family: $gothic;
      width: 100%;
      text-align: center;
      opacity: 0;
    }
    .up{
      display: inline-block;
      animation: up 2s ease forwards;
      animation-delay: 4.5s;
    }
    .dwn{
      display: inline-block;
      animation: down 2.7s ease forwards;
      animation-delay: 2.5s;
    }
  }
  .topContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    .topContents{
      position: relative;
      width: 50%;
      height: 50%;
      // &:nth-child(1){
      //   border-bottom: 0.2px solid #fff;
      // }
      // &:nth-child(2){
      //   border-bottom: 0.2px solid #fff;
      }
      a{
        display: inline-block;
        width: 100%;
        height: 100%;
        &::before{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 1;
          content: '';
          width: 101%;
          height: 101%;
          background-color: #000000f8;
          transition: .2s;
        }
        img{
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: contain; 
          transform: scale(0.5,0.5);
          transition: .4s;
          filter: blur(3px);
        }
        p{
          position: absolute;
          z-index: 6;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          font-size: 1.1rem;
          color: #cccccc;
          text-align: center;
          i{
            font-size: 50px;
            transition: .3s;
          }
        }
        &:hover{
          &::before{
            transition: .8s;
            background-color: rgba(0, 0, 0, 0.658);
          }
          img{
            transition: .3s;
            transform: scale(0.9,0.9);
            filter: blur(0px);
          }
          p{
            font-size: 25px;
            font-weight: 700;
            i{
              font-size: 65px;
              transition: .3s;
            }
          }
        }
      }
    }
  }



.loaderWrap{
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $mainColor;
  .loader{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 0%;
    height: 2px;
    background-color: #fff;
  }
  .persent{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    span{
      color: #fff;
    }
  }
}
.fadeOut{
  animation: fadeOut 1.5s ease-in-out forwards;
}

#typeWrite1,
#typeWrite2,
#typeWrite3,
#typeWrite4{
  position: relative;
  display: inline-block;
  height: 30px;
  &::before{
    position: absolute;
    top: 40%;
    right: -8px;
    transform: translateY(-50%);
    content: '|';
    color: rgba(255, 255, 255, 0.589);
    animation: onOff 1s infinite ease;
  }
}
#typeWrite1::before{
  animation-delay: 0s;
}
#typeWrite2::before{
  animation-delay: 0.5s;
}
#typeWrite3::before{
  animation-delay: 1s;
}
#typeWrite4::before{
  animation-delay: 1.5s;
}
