//////フォントカラー/////////////////
$nomalTextColor: #161616;

//////フォントスタイル/////////////////
$nomalFont: 'Noto Serif JP', serif;
$gothic: 'Sawarabi Gothic', sans-serif;
$spFont: 'Sawarabi Mincho', sans-serif;

//////スタイルカラー/////////////////
$mainColor: #0c0c0c;
$footerColor: #111;
$subNavColor: #2b2b2b;
$gnavColor: #000000;
$tabColor: #100c46;
// $mainGradientColor: ;